/* html,body{
  width: 100%;
  height: 100%;
} */
*{
    padding: 0;
    margin: 0;
  }
  .index{
    position: relative;
    width: 100%;
    height: 100%;
    background:url(/public/spa/static/media/login_wraper.8ab0d297.jpg) navy;
  }
  .login{
    width:400px;
    height: 300px;
    background: #fff;
    position: absolute;
    top:25%;
    right: 15%;
    border-radius: 5px;
    padding: 40px 20px;
  }
  /* .form_pwd{
    display: flex;
    justify-content: space-between;
  } */
  .login_form_button{
    width: 100%;
  }
  